/* Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* this star at the top style overrides default stytle that its added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* the general styles */
body {
    /* this will give the 100 view of the height of that specific device */
    min-height: 100vh;
    /* this gives the children to be movable so we can move them to directions we want */
    display: flex;
    /* this helps us now to move to column(vertical) direction */
    flex-direction: column;
    color: black;
    font-family: 'Lato', sans-serif;
}

/* HEADER */
header {
    background-color: lightsteelblue;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


ul {
    list-style-type: none;
}


li a {
    text-decoration: none;
    color: black;
}

header>a {
    text-decoration: none;
    color: black;
}

h1 {
    /* google suggestion to use Oswald font family */
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.menu {
    margin-bottom: 1em;
    padding-left: 30px;
}

.menu li {
    margin-bottom: 10px;
}

/* ----------------- NAV DROP DOWN ----------------- */
nav {
    position: absolute;
    background-color: lightsteelblue;
    width: 100%;
    left: 0;
    border-bottom: 2px solid black;
    top: 100%;
    display: none;
}

#nav-toggle:checked~nav {
    position: absolute;
    background-color: lightsteelblue;
    width: 100%;
    left: 0;
    border-bottom: 2px solid black;
    display: block;
}


#nav-toggle {
    display: none;
}

.fas {
    font-size: 150%;
}



/* ----------------- MAIN ----------------- */

main {
    background-color: rgb(123, 125, 125);
    /* makes the main element to take up the excess space to push down the footer */
    flex: 1 0 auto;
    margin-top: 47px;
    height: auto;
}

article {
    background-color: darkgoldenrod;
    text-align: center;
}

.hero {
    background: url(/assets/images/kittenfather.png) no-repeat center center/cover;
    height: 50vh;
    width: 100%;
}

aside {
    background-color: cornflowerblue;
    width: 100%;
    text-align: left;
    padding: 20px 20px;
}

.cats {
    background: url(../images/kittensaudi.png) no-repeat center/cover;
}

.cats div {
    color: white;
    padding: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
}

.cats h3 {
    margin: 20px;
    color: white;
    text-align: center;
}


/* ----------------- FOOTER ----------------- */
footer {
    justify-content: center;
    display: flex;
}

.social-container {
    text-align: center;
    width: 70%;
    padding: 20px 20px;
    justify-content: space-around;
    display: flex;
}

.social-container i {
    color: black;
}



/* ----------------- Tablet 760px breakpoint ----------------- */

@media screen and (min-width: 768px) {

    /* Header */
    main {
        margin-top: 95px;
    }

    h1 {
        padding-top: 10px;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 20px;
        border: none;
    }

    .menu {
        display: flex;
    }

    .menu li a {
        margin-right: 30px;
    }

    .menu>li {
        padding-left: 1rem;
    }

    .menu a:hover {
        font-weight: 950;
        text-decoration: underline;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
}