/* Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* this star at the top style overrides default stytle that its added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* the general styles */
body {
    /* this will give the 100 view of the height of that specific device */
    min-height: 100vh;
    /* this gives the children to be movable so we can move them to directions we want */
    display: flex;
    /* this helps us now to move to column(vertical) direction */
    flex-direction: column;
    color: black;
    font-family: 'Lato', sans-serif;
}

/* HEADER */
header {
    background-color: lightsteelblue;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


ul {
    list-style-type: none;
}


li a {
    text-decoration: none;
    color: black;
}

header>a {
    text-decoration: none;
    color: black;
}

h1 {
    /* google suggestion to use Oswald font family */
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.menu {
    margin-bottom: 1em;
    padding-left: 30px;
}

.menu li {
    margin-bottom: 10px;
}

/* ----------------- NAV DROP DOWN ----------------- */
nav {
    position: absolute;
    background-color: lightsteelblue;
    width: 100%;
    left: 0;
    border-bottom: 2px solid black;
    top: 100%;
    display: none;
}

#nav-toggle:checked~nav {
    position: absolute;
    background-color: lightsteelblue;
    width: 100%;
    left: 0;
    border-bottom: 2px solid black;
    display: block;
}


#nav-toggle {
    display: none;
}

.fas {
    font-size: 150%;
}



/* ----------------- MAIN ----------------- */

main {
    background-color: rgb(123, 125, 125);
    /* makes the main element to take up the excess space to push down the footer */
    flex: 1 0 auto;
    margin-top: 47px;
    height: auto;
}

/* centering article elements*/
article {
    display: flex;
    text-align: center;
    font-size: 80%;
}

/* add of image background style to element with .hero class */
.hero {
    background: url(/assets/images/kittenfather.png) no-repeat center center/cover;
    height: 50vh;
    width: 100%;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
}

.main-text {
    background-color: rgba(0, 0, 0, 0.7);
    /* add of style for all screens */
    width: 300px;
    height: fit-content;
    align-self: end;
}


aside {
    background-color: cornflowerblue;
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

aside h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

aside h3 {
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
}

.benefit-of-cats {
    background: url(../images/kittensaudi.png) no-repeat center center/cover;
}

.benefit-of-cats div {
    color: white;
    padding: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px 0;
}

.benefit-of-cats h3 {
    margin: 20px;
    color: white;
    text-align: center;
}


/*      main - for BIOGRAPHY PAGE       */

/* first article element in biography page containing cover and biograpåhy text  */
#biography-container {
    width: 100%;
    height: fit-content;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.biography-cover-text {
    text-transform: uppercase;
    width: 80%;
    align-self: center;
    margin-top: 30px;
}

.biography-cover-text h2 {
    padding-bottom: 20px;
    font-size: 190%;
}

.biography-cover-text h4 {
    font-size: 70%;
}

/* the biography div text container */
.biography-text-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 20px 0;
}

/* biography paragraph text */
.biography-text-container p {
    width: 80%;
    /* found a nicer alignment on w3school. to align symetrically for aesthetic reason, just thought it looks nicer */
    text-align: justify;
}

/* container for video/media in the biography page */
iframe {
    width: 100%;
    height: 200px;
}

.cat-image-1 {
    background: url(../images/cat1.jpg)no-repeat center center/cover;
    width: 100%;
    height: 300px;
    margin: 10px 0;
    border-radius: 3%;
    /* to move poston of the image as backgorund, I found this on: https: //developer.mozilla.org/en-US/docs/Web/CSS/background-position  */
    background-position: 50% 60%;
}

.cat-image-2 {
    background: url(../images/cat2.jpg)no-repeat center center/cover;
    width: 100%;
    height: 300px;
    margin: 10px 0;
    border-radius: 3%;
    /* found this on  */
    background-position: 50% 75%;
}

/* add display contents so for all screens */
.video-container {
    display: contents;
}


/* main for CONTACT page */

#contact-container {
    height: 600px;
    display: flex;
    justify-content: center;
    background: bisque;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 220px;
    justify-content: center;
}

#contact-form h2 {
    font-size: 120%;
}


/* ----------------- FOOTER ----------------- */
footer {
    justify-content: center;
    display: flex;
}

.social-container {
    text-align: center;
    width: 70%;
    padding: 20px 20px;
    justify-content: space-around;
    display: flex;
}

.social-container i {
    color: black;
}



/* ----------------- Tablet 768px breakpoint ----------------- */

@media screen and (min-width: 768px) {

    /* Header */
    main {
        margin-top: 95px;
    }


    h1 {
        padding-top: 10px;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 20px;
        border: none;
    }

    .menu {
        display: flex;
    }

    .menu li a {
        margin-right: 30px;
    }

    .menu>li {
        padding-left: 1rem;
    }

    .menu a:hover {
        font-weight: 950;
        text-decoration: underline;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* biography page for sreen 768x and more  */

    article {
        justify-content: center;
        height: 400px;
        width: 100%;
    }

    iframe {
        width: 768px;
        height: 410px;
    }

    #cat-images {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    /* contact page for screen over 768px and more */
    #contact-form {
        width: 60%;
    }
}


/* media query screen of 1024px and more */

@media screen and (min-width:1024px) {

    aside {
        gap: 20px;
    }


    .benefit-of-cats {
        display: flex;
    }

    .benefit-of-cats div {
        flex: 1;
    }

    .cat-image-1 {
        border-radius: 15px 0 0 15px;
    }

    .cat-image-2 {
        border-radius: 0 15px 15px 0;
    }



    /* move the aside with style above iframe when screen is 1024px or more */
    /* I commented out these styles since I wanted to keep the style simple to understand but decided to leave it incase I could need it in future */
    /* aside {
        position: absolute;
        top: 200px;
        display: flex;
        flex-direction: row;
        gap: 400px;
        background: none;
    }

    .cat-image-1,
    .cat-image-2 {
        width: 450px;
    }

    .biography-cover-text {
        height: 450px;
        width: 60%;
        align-self: center;
    }

    .biography-text-container {
        height: 450px;
        width: 60%;
        align-self: center;
    }

    .biography-text-container p {
        align-self: center;
        width: 50%;
    } */

    #contact-form {
        width: 40%;
    }
}

/* media query for screen of 1440px and higher */
@media screen and (min-width:1440px) {

    main {
        display: flex;
        flex-direction: column;
    }

    #biography-container {
        height: 400px;
    }

    .biography-text-container {
        width: 50%;
        align-self: center;
    }

    #cat-images {
        order: -1;
        background: none;
        position: absolute;
        gap: 50%;
    }

    iframe {
        width: 1440px;
        height: 700px;
    }

    #contact-form {
        width: 30%;
    }
}